    <div class="row">
        <div class="col-md-3">
          <h3>
            <strong>Profile:</strong>
                <%= @profile.firstname %> <%= @profile.lastname %>
            </h3>
            <!-- code modified from fiddle.js tutorial on javascript video player -->
            <!-- Sidebar only showing tutorials signed in user has access too -->
            <ul id="playlist">
              <% if @profile.has_bod %>
              <h3>Bodhran Tutorial</h3>
              <li videourl="https://s3-eu-west-1.amazonaws.com/waltbodhrantut/holding+the+bodhran.mp4">Holding the Bodhran</li>

              <li videourl="https://s3-eu-west-1.amazonaws.com/waltbodhrantut/holding+the+stick.mp4">Holding the stick</li>          

              <li videourl="https://s3-eu-west-1.amazonaws.com/waltbodhrantut/Playing+the+bodhran.mp4">Playing the Bodhran</li>      

              <li videourl="https://s3-eu-west-1.amazonaws.com/waltbodhrantut/Playing+a+Reel.mp4">Playing a Reel</li>

              <li videourl="https://s3-eu-west-1.amazonaws.com/waltbodhrantut/Playing+an+advanced+reel.mp4">Playing an advanced Reel</li>

              <li videourl="https://s3-eu-west-1.amazonaws.com/waltbodhrantut/Playing+a+Jig.mp4">Playing a Jig</li>

              <li videourl="https://s3-eu-west-1.amazonaws.com/waltbodhrantut/Playing+a+hornpipe.mp4">Playing a Hornpipe</li>
              <% end %>

              <% if @profile.has_tin %>
              <h3>Tin Whistle Tutorial</h3>
              <li videourl="https://s3-eu-west-1.amazonaws.com/waltvideos1/Waltons+tin+whistle.mp4">Lesson 1</li>

              <li videourl="https://s3-eu-west-1.amazonaws.com/waltvideos1/Waltons+tin+whistle.mp4">Lesson 2</li>

              <li videourl="https://s3-eu-west-1.amazonaws.com/waltvideos1/Waltons+tin+whistle.mp4">Lesson 3</li>

              <li videourl="https://s3-eu-west-1.amazonaws.com/waltvideos1/Waltons+tin+whistle.mp4">Lesson 4</li>

              <li videourl="https://s3-eu-west-1.amazonaws.com/waltvideos1/Waltons+tin+whistle.mp4">Lesson 5</li>
              <% end %>

              <% if @profile.has_mand %>
              <h3>Irish Mandolin Tutorial</h3>
              <li videourl="https://s3-eu-west-1.amazonaws.com/waltvideos1/MANDOLIN+PREVIEW.mp4">Introduction</li>

              <li videourl="https://s3-eu-west-1.amazonaws.com/waltmandolin/Tuning+the+mandolin.mp4">Tuning the Mandolin</li>

              <li videourl="https://s3-eu-west-1.amazonaws.com/waltmandolin/Mandolin+Notes.mp4">Mandolin Notes</li>

              <li videourl="https://s3-eu-west-1.amazonaws.com/waltmandolin/The+left+hand+fret.mp4">The left hand fret</li>

              <li videourl="https://s3-eu-west-1.amazonaws.com/waltmandolin/The+D+Scale.mp4">The D Scale</li>

              <li videourl="https://s3-eu-west-1.amazonaws.com/waltmandolin/Triplets-The+Mountain+road.mp4">The Mountain road - triplets</li>
              <% end %>

              <% if @profile.has_fiddle %>
              <h3>Irish Fiddle Tutorial</h3>
              <li videourl="https://s3-eu-west-1.amazonaws.com/waltvideos1/fiddle+preview.mp4">Introduction to Fiddle</li>

              <li videourl="https://s3-eu-west-1.amazonaws.com/waltfiddle/holding+the+fiddle.mp4">Holding the fiddle</li>

              <li videourl="https://s3-eu-west-1.amazonaws.com/waltfiddle/holding+the+bow.mp4">Holding the bow</li>

              <li videourl="https://s3-eu-west-1.amazonaws.com/waltfiddle/The+D+scale.mp4">The D Scale</li>

              <li videourl="https://s3-eu-west-1.amazonaws.com/waltfiddle/The+polka.mp4">The Polka</li>

              <li videourl="https://s3-eu-west-1.amazonaws.com/waltfiddle/The+Kerry+polka.mp4">The Kerry Polka</li>

              <li videourl="https://s3-eu-west-1.amazonaws.com/waltfiddle/The+A+Scale.mp4">The A Scale</li>

              <li videourl="https://s3-eu-west-1.amazonaws.com/waltfiddle/The+Britches+full+of.mp4">The Britches full of</li>
              <% end %>

            </ul>
          </div>
		  <div class="col-md-7">
            <h3 class="text centre">My tutorials </h3>
            <h3 id="notice"><%= notice %></h3>
            <video id="videoarea" controls="controls" src=""></video>
        </div>
    </div>



