    <div class="row">
        <div class="col-md-3">
          <h3>
            <strong>Profile:</strong>
                <%= @profile.firstname %> <%= @profile.lastname %>
                <h3 id="notice"><%= notice %></h3>
            </h3>
            <!-- Sidebar only showing tutorials signed in user has access too -->
            <ul id="playlist">
              <% if @profile.has_bod %>
              <h3>Bodhran Tutorial</h3>
              <li videourl="https://s3-eu-west-1.amazonaws.com/waltbodhrantut/holding+the+bodhran.mp4">Holding the Bodhran</li>

              <li videourl="https://s3-eu-west-1.amazonaws.com/waltbodhrantut/holding+the+stick.mp4">Holding the stick</li>          

              <li videourl="https://s3-eu-west-1.amazonaws.com/waltbodhrantut/Playing+the+bodhran.mp4">Playing the Bodhran</li>      

              <li videourl="https://s3-eu-west-1.amazonaws.com/waltbodhrantut/Playing+a+Reel.mp4">Playing a Reel</li>

              <li videourl="https://s3-eu-west-1.amazonaws.com/waltbodhrantut/Playing+an+advanced+reel.mp4">Playing an advanced Reel</li>

              <li videourl="https://s3-eu-west-1.amazonaws.com/waltbodhrantut/Playing+a+Jig.mp4">Playing a Jig</li>

              <li videourl="https://s3-eu-west-1.amazonaws.com/waltbodhrantut/Playing+a+hornpipe.mp4">Playing a Hornpipe</li>
              <% end %>

              <% if @profile.has_tin %>
              <h3>Tin Whistle Tutorial</h3>
              <li videourl="https://s3-eu-west-1.amazonaws.com/waltvideos1/Waltons+tin+whistle.mp4">Lesson 1</li>
              <% end %>
            </ul>
          </div>
		  <div class="col-md-7">
            <h3 class="text centre">My tutorials </h3>
            <video id="videoarea" controls="controls" src=""></video>
        </div>
    </div>



