<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for signing up to this tutorial!</h1>

    	<h2> Congratulations <%= @profile.firstname %> </h2> 
          <h4>You have added <%= @tutorial.title %> to your account, good luck learning!</h4> 
          <h3>A charge of €5.00 has been placed on your card</h3>
    
  </body>
</html>