<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for signing up!</h1>
    <p>Thanks for creating an account on Waltons Online Tutorials, we cant wait for you to check out our videos, have a great day!</p>
  </body>
</html>