      <div class="row">
        <div class="col-md-2">
          <div class="sidebar">
              <h3>Instrument Care</h3>
                <ul>
                  <li>Bodhran</li>
                  <li>Tin Whistle</li>
                  <li>Mandolin</li>
                  <li>Violin Care</li>               
                </ul>
          </div>
        </div>
        <div class="col-md-10">
            <div class="jumbotron">
              <h1>Instrument Care</h1>
                  <h4>We’ve put together some tips on basic musical instrument care and maintenance. Not only will proper instrument care teach budding musicians responsibility, it will also ensure they stay excited and motivated to continue on their musical paths.</h4>
                  <h3 id="notice"><%= notice %></h3> 
            </div>
        </div>
      </div>
        <div class="row">
          <div class="col-md-2">
          </div>
            <div class="col-md-6"> 
                <h3>Bodhran Care</h3>  
                  <%= video_tag('https://s3-eu-west-1.amazonaws.com/waltbodhrantut/Taking+care+of+your+bodhran.mp4', :type => "video/mp4", :size => "640x480", :controls => true) %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
              </div>
                <div class="col-md-8">
                <h3>Tin Whistle Care</h3>

                <!-- text taken from http://www.whistleaway.com/rant2.asp?article=245 [Accessed 26/7/2016]-->
                <p>Cleaning either a wooden or metal whistle can be achieved by shaking the whistle sharply in a downwards movement two or three times. The moisture will come out from the bottom, however, there will still be a residue of moisture which also needs to be removed. The most effective way to clean the inside of a wooden whistle is to use a piece of soft, lint free cloth which is wrapped around a piece of wooden doweling . Draw the cloth through the whistle several times to remove any moisture and debris, it is imperative to ensure that the doweling remains covered by the cloth at all times otherwise there is a potential risk of damaging the inside of the whistle. It is not advisable to use a piece of wire covered with cloth because if the wire becomes uncovered it will scratch or gouge the whistle, scratches and gouges can have an adverse effect on the pitch of the whistle.</p>
                </div>
            </div>
            <div class="row">
              <div class="col-md-2">
              </div>
                <div class="col-md-8">
                <h3>Mandolin Care</h3>

                <!-- text taken from http://www.whistleaway.com/rant2.asp?article=245 [Accessed 26/7/2016]-->
                <p>Cleaning either a wooden or metal whistle can be achieved by shaking the whistle sharply in a downwards movement two or three times. The moisture will come out from the bottom, however, there will still be a residue of moisture which also needs to be removed. The most effective way to clean the inside of a wooden whistle is to use a piece of soft, lint free cloth which is wrapped around a piece of wooden doweling . Draw the cloth through the whistle several times to remove any moisture and debris, it is imperative to ensure that the doweling remains covered by the cloth at all times otherwise there is a potential risk of damaging the inside of the whistle. It is not advisable to use a piece of wire covered with cloth because if the wire becomes uncovered it will scratch or gouge the whistle, scratches and gouges can have an adverse effect on the pitch of the whistle.</p>
                </div>
            </div>
            <div class="row">
              <div class="col-md-2">
              </div>
                <div class="col-md-8">
                <h3>Violin Care</h3>

                <!-- text taken from http://www.whistleaway.com/rant2.asp?article=245 [Accessed 26/7/2016]-->
                <p>Cleaning either a wooden or metal whistle can be achieved by shaking the whistle sharply in a downwards movement two or three times. The moisture will come out from the bottom, however, there will still be a residue of moisture which also needs to be removed. The most effective way to clean the inside of a wooden whistle is to use a piece of soft, lint free cloth which is wrapped around a piece of wooden doweling . Draw the cloth through the whistle several times to remove any moisture and debris, it is imperative to ensure that the doweling remains covered by the cloth at all times otherwise there is a potential risk of damaging the inside of the whistle. It is not advisable to use a piece of wire covered with cloth because if the wire becomes uncovered it will scratch or gouge the whistle, scratches and gouges can have an adverse effect on the pitch of the whistle.</p>
                </div>
            </div>
        