      <div class="row">
        <div class="col-md-2">
          <div class="sidebar">
              <h3>Instrument Care</h3>
                <ul>
                  <li><a href="#bod">Bodhran</a></li>
                  <li><a href="#tin">Tin Whistle</a></li>
                  <li><a href="#mand">Mandolin</a></li>
                  <li><a href="#vio">Violin Care</a></li>               
                </ul>
          </div>
        </div>
        <div class="col-md-10">
            <div class="jumbotron">
              <h1>Instrument Care</h1>
                  <h4>We’ve put together some tips on basic musical instrument care and maintenance. Not only will proper instrument care teach budding musicians responsibility, it will also ensure they stay excited and motivated to continue on their musical paths.</h4>
                  <h3 id="notice"><%= notice %></h3> 
            </div>
        </div>
      </div>
        <div class="row">
          <div class="col-md-2">
          </div>
            <div class="col-md-6"> 
                <h3 id="bod">Bodhran Care</h3>  
                  <%= video_tag('https://s3-eu-west-1.amazonaws.com/waltbodhrantut/Taking+care+of+your+bodhran.mp4', :type => "video/mp4", :size => "640x480", :controls => true) %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
              </div>
                <div class="col-md-8">
                <h3 id="tin">Tin Whistle Care</h3>

                <!-- text taken from http://www.whistleaway.com/rant2.asp?article=245 [Accessed 26/7/2016]-->
                <p>Cleaning either a wooden or metal whistle can be achieved by shaking the whistle sharply in a downwards movement two or three times. The moisture will come out from the bottom, however, there will still be a residue of moisture which also needs to be removed. The most effective way to clean the inside of a wooden whistle is to use a piece of soft, lint free cloth which is wrapped around a piece of wooden doweling . Draw the cloth through the whistle several times to remove any moisture and debris, it is imperative to ensure that the doweling remains covered by the cloth at all times otherwise there is a potential risk of damaging the inside of the whistle. It is not advisable to use a piece of wire covered with cloth because if the wire becomes uncovered it will scratch or gouge the whistle, scratches and gouges can have an adverse effect on the pitch of the whistle.</p>
                </div>
            </div>
            <div class="row">
              <div class="col-md-2">
              </div>
                <div class="col-md-8">
                <h3 id="mand">Mandolin Care</h3>

                <!-- text taken from http://www.mandolinmania.com/caring.html [Accessed 26/7/2016]-->
                <p>Before you play your mandolin, you might want to wash your hands – particularly the fingertips.  When you are done practicing your mandolin, you should rub the strings down with an old cloth.  Some people also like to use a product such as "Fast Fret", which is a cleaner that is rubbed directly on the strings.  Cleaning the strings off helps to remove skin oil, perspiration and bits of dead skin that flake off of your fingertips as you play.  Doing it after every practice session will help to prolong the life of your strings – and they will sound better, longer.

                Extreme temperature and humidity changes can literally cause any musical instrument to split apart.  You don't want to keep your mandolin in a place that wouldn't be comfortable for you to stay in for a long time – like your attic, the basement, or sitting right next to the heat register in your living room.  You also don't want to leave a mandolin sitting in your car, in any type of weather.

                If you don't have whole-house humidity control, you may also want to consider buying a humidifier to keep in your mandolin case.  These are longer rubber tubes that have a sponge inside.  The tube is soaked in water, and then squeezed to remove the excess.   The tube is then placed inside the case, in a place where it does not push against the mandolin when the lid is closed.  Depending on the weather, the humidifier should be refreshed about once a week.</p>
                </div>
            </div>
            <div class="row">
              <div class="col-md-2">
              </div>
                <div class="col-md-8">
                <h3 id="vio">Violin Care</h3>

                <!-- text taken from http://www.get-tuned.com/violin-maintenance.php [Accessed 26/7/2016]-->
                <p>Before playing, apply rosin to your bow. Not so much that it creates a 'dust cloud' when you start playing, but enough to create friction between the bow and the string so the bow does not slip when you play. To test how much rosin is on your bow, hold the bow towards the light with one hand and place the index finger of your other hand between the wood and the bow hair. Flick the hairs of the bow upward. If you can see particles of rosin coming off the bow, then your bow has enough rosin. If not, run a little more over the bow hair. Remember - do not touch the hairs where they come in contact with the string! The natural oils on your fingers will soak into the hair, and after you have touched it a few times the bow will slip off the string when you play.</p>
                </div>
            </div>
        