      <div class="row">
        <div class="col-md-2">
          <div class="sidebar">
              <h3>Instrument Care</h3>
                <ul>
                  <li>Bodhran</li>
                  <li>Tin Whistle</li>
                  <li>Mandolin</li>
                  <li>Irish Fiddle</li>               
                </ul>
          </div>
        </div>
        <div class="col-md-10">
            <div class="jumbotron">
              <h1>Instrument Care</h1>
                  <h4>We’ve put together some tips on basic musical instrument care and maintenance. Not only will proper instrument care teach budding musicians responsibility, it will also ensure they stay excited and motivated to continue on their musical paths.</h4>
                  <h3 id="notice"><%= notice %></h3> 
            </div>
        </div>
      </div>
        <div class="row">
          <div class="col-md-2">
          </div>
            <div class="col-md-4"> 
                <h4>Bodhran care</h4>  
                  <%= video_tag('https://s3-eu-west-1.amazonaws.com/waltbodhrantut/Taking+care+of+your+bodhran.mp4', :type => "video/mp4", :size => "640x480", :controls => true) %>
              </div>
            </div>
        </div>