<div class="row">
	<div class="col-md-12">
		<h1>Waltons online Tutorials</h1>
		<p>The latest tutorials</p>
		</div>
	</div>
	<div class="row">
	     <% @tutorials.each do |tutorial| %>
              <div class="col-md-2">
                <h3><%= tutorial.title %></h3>
                <%= image_tag(tutorial.image_url, :class => "list_image") %>
                </div>
         <% end %>
    </div>


	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
		</div>
		<div class="col-md-2">
			<a class="twitter-timeline"
  						href="https://twitter.com/newschool_ie">
					Tweets by @newschool_ie
			</a>
		</div>
	</div>
