// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#playlist {
	padding: 20px;
    background-color:black !important; 
    color: grey;
    border-radius: 15px;
    list-style: none;
}

#playlist li{
	cursor:pointer;
	padding:2px;
    list-style-position: inside;
    list-style-image: url('play.png');

}

#playlist li:hover{
    color:white;                        
}
#videoarea {
    float:left;
    width:640px;
    height:480px;
    margin:10px;    
    border:1px solid silver;
}

table {
  border-collapse: separate;
  border-spacing: 2em 1em;
  background-color: #ddd;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px !important;
}