// Place all the styles related to the tutorials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


  .list_image {
    width:  120px;
    height: 170px;
  }

 .show_image {
    width:  200px;
    height: 200px;
  }