// Place all the styles related to the tutorials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


  .list_image {
    width:  120px;
    height: 170px;
  }

  .jumbotron {
    background-color:black !important; 
    color: grey !important;
}

p {
    padding-top: 1cm;
}

.sidebar {
	  padding: 20px;
    background-color:black !important; 
    color: grey;
	
}