<div class="container">
	<footer class="footer">
		<small>
			<a href="http://www.waltons.ie">Homepage for Waltons Music Ireland</a>
		</small>
	<ul class="nav navbar-nav navbar-right">
		<li>
		<small>
			<a href="https://twitter.com/newschool_ie"> Tweets by Waltons Music School @newschool_ie</a>
		</small>
		</li>
		</ul>
	</footer>
</div>